# Ignorar todos los scripts que empiezan con 'comparar'
comparar*.py

# Ignorar el script 'descarga_p_comparar.py'
descarga_p_comparar.py

# Ignorar los archivos de comparacion visuales
compara*

tormenta/

descarga_precios_prueba.py